h1 {
    text-align: center;
}


#inside-game {
     position: relative;
     display: block;
     margin: auto;
     width: 500px;
     height: 500px;
}

#cockpit {
    /* position: relative; */
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}

#damage {
    position: absolute;
    color: white;
    margin-left: 80%;
}

#wordGuessHud {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 293px 0 0 220px;
    /* z-index: 100; */
    color: white;

}

#controls {
    position: absolute;
    width: 50%;
    text-align: center;
    margin-top: 340px;
    margin-left: 105px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 28px;
    text-align: center;
}

.control-button {
    outline: none;
    color: #fff;
    background-color: rgb(156, 205, 235);
    /* border: none; */
    border-radius: 5px;
    box-shadow: 0 4px rgb(90, 119, 137); 
}

.control-button:active {
    background-color: #2be831;
    box-shadow: 0 5px #167819;
    transform: translateY(2px);
}

.control-button:disabled {
    opacity: 75%;
    background-color: red;
}

/* Found on w3 makes the buttons active */



#eject {
    position: absolute;
    display: inline-block;
    margin: 430px 0 0 16px;
    font-size: 15px;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px darkred;
}

#eject:active {
    background-color: darkred;
    box-shadow: 0 5px darkslategrey;
    transform: translateY(4px);
}

@media screen and (max-device-width: 500px) {
    #inside-game {
        position: relative;
        display: block;
        margin: auto;
        width: 350px;
        height: 350px;
   }

   #cockpit {
        /* position: relative; */
        display: block;
        margin: auto;
        width: 350px;
        height: 350px;
    }

    #damage {
        position: absolute;
        color: white;
        margin-left: 70%;
    }
    
    #wordGuessHud {
        position: absolute;
        display: inline-block;
        text-align: center;
        margin: 200px 0 0 143px;
        /* z-index: 100; */
        color: white;
    
    }
    
    #controls {
        position: absolute;
        width: 50%;
        text-align: center;
        margin-top: 235px;
        margin-left: 83px;
        display: inline-block;
        padding: 10px 10px;
        font-size: 9px;
        text-align: center;
    }
    
    .control-button {
        outline: none;
        color: #fff;
        background-color: rgb(156, 205, 235);
        /* border: none; */
        border-radius: 3px;
        box-shadow: 0 4px rgb(90, 119, 137); 
    }
    
    .control-button:active {
        background-color: #2be831;
        box-shadow: 0 5px #167819;
        transform: translateY(2px);
    }
    
    .control-button:disabled {
        opacity: 75%;
        background-color: red;
    }
    
    /* Found on w3 makes the buttons active */
    
    
    
    #eject {
        position: absolute;
        display: inline-block;
        margin: 430px 0 0 16px;
        font-size: 15px;
        padding: 15px 25px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: red;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px darkred;
    }
    
    #eject:active {
        background-color: darkred;
        box-shadow: 0 5px darkslategrey;
        transform: translateY(4px);
    }
}



