body {
    background-image: url(../img/haz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: rgb(181, 4, 4);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}


#inside-game {
     position: relative;
     display: block;
     margin: auto;
     width: 500px;
     height: 500px;
}

#cockpit {
    /* position: relative; */
    display: block;
    margin: auto;
    width: 500px;
    height: 500px;
}

#damage {
    position: absolute;
    color: white;
    margin-left: 80%;
}

#wordGuessHud {
    position: absolute;
    display: inline-block;
    text-align: center;
    margin: 293px 0 0 220px;
    color: white;
    background-color: none;
}

#controls {
    position: absolute;
    width: 50%;
    text-align: center;
    margin-top: 340px;
    margin-left: 105px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 28px;
    text-align: center;
}

#enemyShip {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 100;
    margin: 140px 0 0 195px;
}

.control-button {
    outline: none;
    color: #fff;
    background-color: rgb(156, 205, 235);
    border-radius: 5px;
    box-shadow: 0 4px rgb(90, 119, 137); 
}

.control-button:active {
    background-color: #ddff00;
    box-shadow: 0 5px #167819;
    transform: translateY(2px);
}

.control-button:disabled {
    opacity: 95%;
    background-color: red;
}

/* Found on w3 makes the buttons active */



#eject {
    position: absolute;
    display: inline-block;
    margin: 430px 0 0 16px;
    font-size: 15px;
    padding: 15px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px darkred;
}

#eject:active {
    background-color: darkred;
    box-shadow: 0 5px darkslategrey;
    transform: translateY(4px);
}

.youLost{
    color: white;
}

.theAnswerWas{
    color: white !important;
}

.control-button.correct{
    background-color: rgb(75, 75, 250);
}

@media screen and (max-device-width: 500px) {
    body{
        background-image: none;
        background-color: black;
    }

    #inside-game {
        width: 350px;
        height: 400px;
   }

   #cockpit {
        width: 350px;
        height: 400px;
    }

    #damage {
        margin-left: 70%;
    }
    
    #wordGuessHud {
        margin: 235px 0 0 143px;
    }
    
    #controls {
        width: 45%;
        margin-top: 270px;
        margin-left: 90px;
        padding: 10px 10px;
        font-size: 9px;
    }
    
    #eject {
        margin: 347px 0 0 15px;
        font-size: 10px;
        padding: 10px 15px;

    }
}



